#projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media screen and (max-width: 768px) {
    #projects-list {
        grid-template-columns: 1fr;
    }
}

.project {
    background-color: var(--project-bg);
    border-radius: 15px;
    padding: 20px; 
    border: 1px solid var(--project-border);
    margin-bottom: 20px;
    box-shadow: var(--project-shadow);
}

.project h2 {
    font-size: 22px;
}
.project p {
    margin: 0;
}