blockquote p {
    font-size: 16px;
}
.blockquote-footer {
    text-align: center;
    margin: 0 !important;
    color: var(--cs-bq-footer-color);
}
figure {
    padding: 15px;
    border-left: var(--cs-figure-border-left);
    /* border-right: #4b4c4d 5px solid; */
    border-radius: 10px;
    background-color: var(--cs-figure-bg);
    box-shadow: var(--cs-figure-shadow);
}