#welcome {
    width: 400px;
    overflow: hidden;
}
#welcome h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: left !important;
}
#welcome h2 {
    font-weight: 500;
    font-size: 25px;
    text-align: right !important;
}
@media only screen and (max-width: 600px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    #welcome {
        width: 100%;
    }
    #welcome h1 {
        font-size: 55px !important;
    }
}
.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#chevronDown {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    font-size: 25px;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-10px); }
    40%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}