:root {
    --main-color: rgb(49, 141, 238);
    --main-color-hover: rgb(44, 116, 204);
    --p-reveal-color: rgb(128, 194, 255);
    --bg-color: #fff;
    --font-color: var(--bs-body-color);
    --nav-bg: rgba(255,255,255, 0.7);
    --hr: rgb(234, 234, 234);
    
    --project-bg: rgb(250, 250, 250);
    --project-border: #ccc;
    --project-shadow: 0 0 10px 3px rgba(138, 138, 138, 0.3);
    
    --cs-figure-bg: rgb(250, 250, 250);
    --cs-figure-shadow: 0 0 10px 3px rgba(138, 138, 138, 0.3);
    --cs-figure-border-left: #4b4c4d 5px solid;
    --cs-bq-footer-color: var(--bs-gray-600);
}
.dark {
    --main-color: rgb(65, 173, 236);
    --main-color-hover: rgb(57, 140, 228);
    --p-reveal-color: rgb(0, 105, 190);
    --bg-color: rgb(17,17,17);
    --font-color: #ddd;
    --nav-bg: rgba(17,17,17, 0.7);
    --hr: rgb(50, 50, 50);
    
    --project-bg: rgb(35, 35, 35);
    --project-border: #333;
    --project-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    
    --cs-figure-bg: rgb(35, 35, 35);
    --cs-figure-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    --cs-figure-border-left: #aaa 5px solid;
    --cs-bq-footer-color: var(--bs-gray-500);
}

body {
    transition: all 0.2s ease-out;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--bg-color);
    color: var(--font-color);
}
a {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.2s all;
}
a:hover {
    color: var(--main-color-hover)
}
.margin-auto {
    margin: auto !important;
}
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section {
    min-height: 100vh;
    padding: 60px 0;
    margin: auto;
    max-width: 800px;
}
p,li {
    font-size: 18px;
}

.reveal-text,.reveal-text::after, .reveal-text-reverse,.reveal-text-reverse::after {
    -webkit-animation-delay: var(--animation-delay, 0.2s);
            animation-delay: var(--animation-delay, 0.2s);
    -webkit-animation-iteration-count: var(--iterations, 1);
            animation-iteration-count: var(--iterations, 1);
    -webkit-animation-duration: var(--duration, 0.8s);
            animation-duration: var(--duration, 0.8s);
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.reveal-text {
    position: relative;
    -webkit-animation-name: clip-text;
            animation-name: clip-text;
    width: fit-content;
    
    /* for debug */
    /* animation-iteration-count: infinite; */
}
.reveal-text-reverse {
    position: relative;
    -webkit-animation-name: clip-text-reverse;
            animation-name: clip-text-reverse;
    width: fit-content;
    
    /* for debug */
    /* animation-iteration-count: infinite; */
}
.reveal-text::after,.reveal-text-reverse::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    pointer-events: none;
    transform: scaleX(0);
}
.reveal-text::after {
    transform-origin: 0 50%;
    -webkit-animation-name: text-revealer;
            animation-name: text-revealer;
    
    /* for debug */
    /* animation-iteration-count: infinite; */
}
.reveal-text-reverse::after {
    transform-origin: 100% 50%;
    -webkit-animation-name: text-revealer-reverse;
            animation-name: text-revealer-reverse;
    
    /* for debug */
    /* animation-iteration-count: infinite; */
}
.reveal-text-p::after {
    background-color: var(--p-reveal-color) !important; 
}
@-webkit-keyframes clip-text {
    from {
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }
    to {
        -webkit-clip-path: inset(0 0 0 0);
                clip-path: inset(0 0 0 0);
    }
}
@keyframes clip-text {
    from {
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }
    to {
        -webkit-clip-path: inset(0 0 0 0);
                clip-path: inset(0 0 0 0);
    }
}
@-webkit-keyframes text-revealer {
    0%, 50% {transform-origin: 0 50%;}
    60%, 100% {transform-origin: 100% 50%;}
    60% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}
@keyframes text-revealer {
    0%, 50% {transform-origin: 0 50%;}
    60%, 100% {transform-origin: 100% 50%;}
    60% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}

.reveal-hr {
    animation: reveal-hr 1s 1 ease forwards;
    height: 2px;
    border-radius: 50px;
    background-color: var(--hr);
}

@keyframes reveal-hr {
    from {
        width: 0;
        margin-left: 50%;
    }
    to {
        width: 100%;
        margin-left: 0;
    }
}

.fade-in {
    animation: 1.5s fade-in ease-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    tp {
        opacity: 1;
    }
}
.align-right {
    margin-left: auto;
    margin-right: 0;
}

@-webkit-keyframes clip-text-reverse {
	from {
		-webkit-clip-path: inset(0 0 0 100%);
		        clip-path: inset(0 0 0 100%);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}
@keyframes clip-text-reverse {
	from {
		-webkit-clip-path: inset(0 0 0 100%);
		        clip-path: inset(0 0 0 100%);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}
@-webkit-keyframes text-revealer-reverse {
	0%, 50% {transform-origin: 100% 50%;}
	60%, 100% {transform-origin: 0 50%;}
	60% {transform: scaleX(1);}
	100% {transform: scaleX(0);}
}
@keyframes text-revealer-reverse {
	0%, 50% {transform-origin: 100% 50%;}
	60%, 100% {transform-origin: 0 50%;}
	60% {transform: scaleX(1);}
	100% {transform: scaleX(0);}
}