/* .navbar-brand {
    font-family: monospace;
    font-size: 1.75rem !important;
    background: -webkit-linear-gradient(rgb(11, 178, 196), rgb(8, 78, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
} */

.navbar-brand svg g {
    fill: var(--main-color);
}

.navbar.fixed-top {
    background:  var(--nav-bg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.nav-link {
    text-transform: capitalize;
}

.actual {
    color: var(--main-color) !important;
}
.navbar-toggler:not(.collapsed), .navbar-toggler.collapsed {
    border: 0px solid transparent !important;
    color: transparent !important;
    /* background-color: transparent; */
}
.navbar-collapse {
    text-align: center;
}