footer {
    color: #aaa !important;
    text-align: center;
}

footer .social {
    margin-bottom: 0px;
}

footer .icon {
    font-size: 30px;
    margin: 8px;
    /* color: var(--main-color); */
}

footer p {
    font-size: 13px !important;
}